.box {
  margin-top: 15px;
}

.title {
  font-size: 28px;
  font-weight: 800;
  color: #cc0fa3;
}

.feedbackBox {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #4b069b;
}

.feedbackBox p:not(:last-child) {
  margin-right: 15px;
}

.totalBox {
  color: #cc0fa3;
  margin-top: 15px;
  font-weight: 800;
  font-size: 20px;
}

.totalBox p:not(:last-child) {
  margin-bottom: 10px;
}
